[submodule "ps-sample-service"]
	path = ps-sample-service
	url = https://github.com/dopsonbr/ps-sample-service
[submodule "ps-admin-server"]
	path = ps-admin-server
	url = https://github.com/dopsonbr/ps-admin-server
[submodule "ps-eureka-server"]
	path = ps-eureka-server
	url = https://github.com/dopsonbr/ps-eureka-server
[submodule "ps-config-repo"]
	path = ps-config-repo
	url = https://github.com/dopsonbr/ps-config-repo
